<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>String Haven</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"/>
    <link rel="stylesheet" href="stylesheets/style.css"/>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/fomantic-ui@2.9.0/dist/semantic.min.css">
</head>
<body>

    <!-- Navbar -->
    <div class="ui secondary pointing menu">
        <a class="active item">
          Home
        </a>
        <a class="item" href="/list">
          List
        </a>
        <a class="item">
          Friends
        </a>
        <div class="right menu">
          <a class="ui item">
            Logout
          </a>
        </div>
    </div>  
    <div class="ui container" style="height:2000px;">

        <h2 class="ui center aligned icon header">
            <i class="circular guitar icon"></i>
            Your Feed
        </h2>

        <div class="ui basic segment" id="feed">

            <div class="ui basic segments" id="posts">

                <div class="ui close big left rail">
                  <div class="ui basic segments sticky profile bold">
                    <div class="ui segment">
                    Wayne Gabule
                    </div>
                    <div class="ui segment">
                    My Feed
                    </div>
                    <div class="ui segment">
                    Notifications
                    </div>
                    <div class="ui segment">
                    Messages
                    </div>
                    <div class="ui segment">
                    Settings
                    </div>
                  </div>
                </div>

                <% posts.forEach(doc => { %>
                    <% var id = doc.id %> 
        
                    <div class="ui basic padded segment post" data-id=<%= id %> >
                        <div class="ui raised fluid card">
                            <div class="content bold"> 
                              <div class="right floated meta">
                                <% const unixTimestamp = doc.get('datePosted') %> 

                                <% const milliseconds = 1575909015 * 1000 // 1575909015000 %> 

                                <% const dateObject = new Date(milliseconds) %> 

                                <%= dateObject.toLocaleString() %> 
                              </div>
                              <%- doc.get('poster') %> 
                            </div>
                            <div class="image">
                                    <img class="clickable modal" src=<%= doc.get('imageUrls')[0] %> data-id=<%= id %> >
                            </div>
                            <div class="extra content clickable modal" data-id=<%= id %>>
                                <div class="description">
                                  <p><%- doc.get('desc') %></p>
                                </div>
                            </div>
                            <div class="extra content">
                                <span class="left floated">
                                    <div class="ui reaction icon button" data-choice="none" id="<%= id %>-reaction" data-color="none">React</div>
                                    <div class="ui flowing popup top left transition hidden">
                                        <div class="ui compact blue react icon button circular huge" data-choice="Like" data-id=<%= id %> data-color="blue"><i class="thumbs up outline icon"></i></div>
                                        <div class="ui compact pink react icon button circular huge" data-choice="Love" data-id=<%= id %> data-color="pink"><i class="heart outline icon"></i></div>
                                        <div class="ui compact orange react icon button circular huge" data-choice="Laugh" data-id=<%= id %> data-color="orange"><i class="laugh squint outline icon"></i></em></div>
                                        <div class="ui compact teal react icon button circular huge" data-choice="Sad" data-id=<%= id %> data-color="teal"><i class="sad tear outline icon"></i></em></div>
                                        <div class="ui compact red react icon button circular huge" data-choice="Angry" data-id=<%= id %> data-color="red"><i class="angry outline icon"></i></em></div>
                                    </div>
                                    <span id="<%= id %>-reaction-span">
                                        <% if (doc.get('reactions').like + doc.get('reactions').love + doc.get('reactions').laugh + doc.get('reactions').sad + doc.get('reactions').angry >= 10) { %>
                                            <%= doc.get('reactions').like + doc.get('reactions').love + doc.get('reactions').laugh + doc.get('reactions').sad + doc.get('reactions').angry %> Reactions
                                        <% } else { %>
                                            <% var output = "" %> 
                                            <% if (doc.get('reactions').like > 0) output += doc.get('reactions').like + " Likes, " %>
                                            <% if (doc.get('reactions').love > 0) output += doc.get('reactions').love + " Loves, " %>
                                            <% if (doc.get('reactions').laugh > 0) output += doc.get('reactions').laugh + " Laughs, " %>
                                            <% if (doc.get('reactions').sad > 0) output += doc.get('reactions').sad + " Sads, " %>
                                            <% if (doc.get('reactions').angry > 0) output += doc.get('reactions').angry + " Angries, " %>
                                            <% output = output.slice(0, -2) %> 
                                            <%= output %> 
                                        <% } %>
                                    </span>
                                     
                                </span>
                                <!-- <span class="right floated">
                                    <i class="comment icon"></i>
                                    0 comments
                                </span> -->
                            </div>
                        </div>
                    </div>
    
                <% }) %>
    
            </div>

        </div>

        <div class="ui modal">
            <i class="close icon"></i>
            <div class="ui grid basic segment">
                    <div class="ui eight wide column">
                        <div class="image content">
                            <img id="modal-image" class="ui fluid rounded image" src="images/Martin LX1RE Electro Acoustic Guitar.jpg" alt="">
                        </div>
                    </div>
                    <div class="ui eight wide column">
                        <div class="ui basic segments">
                            <div class="ui segment">
                                <h3 class="ui header">
                                    <div class="content" id="modal-name">
                                        Name
                                    </div>
                                    <div class="sub header" id="modal-time">
                                        Hours Ago
                                    </div>
                                </h3>
                                <p id="modal-desc">Description</p>
                            </div>
                            <div class="ui segment reacts">
                                <span class="left floated">
                                    <div class="ui reaction icon button" data-choice="none" id="modal-reaction" data-color="none">React</div>
                                    <div class="ui flowing popup top left transition hidden">
                                        <div id="modal-like" class="ui compact blue react icon button circular huge" data-choice="Like" data-color="blue"><i class="thumbs up outline icon"></i></div>
                                        <div id="modal-love" class="ui compact pink react icon button circular huge" data-choice="Love" data-color="pink"><i class="heart outline icon"></i></div>
                                        <div id="modal-laugh" class="ui compact orange react icon button circular huge" data-choice="Laugh" data-color="orange"><i class="laugh squint outline icon"></i></em></div>
                                        <div id="modal-sad" class="ui compact teal react icon button circular huge" data-choice="Sad" data-color="teal"><i class="sad tear outline icon"></i></em></div>
                                        <div id="modal-angry" class="ui compact red react icon button circular huge" data-choice="Angry" data-color="red"><i class="angry outline icon"></i></em></div>
                                    </div>
                                    <span id="modal-reactions">

                                    </span>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
          </div>

    </div>
    
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.1/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/fomantic-ui@2.9.0/dist/semantic.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script>
        var socket = io();
        $('.sidebar-button').click(() => $('.ui.labeled.icon.sidebar').sidebar('toggle'));
        $('.ui.sticky.profile').sticky({ context: '#feed'});
        $('.reaction.button').popup({ hoverable: true });
        $('#modal-reaction').popup({ hoverable: true });
        $('.post .card .clickable.modal').click(function() {
            $('.ui.modal').data('id', $(this).data('id'));
            $('.ui.modal').modal('show');
            var id = $('.ui.modal').data('id');
            socket.emit('getDocument', id);
        });
        $('.react.button').click(function() {
            const reactionBtn = $('#' + $(this).data('id') + "-reaction");
            if (reactionBtn.data('choice') == $(this).data('choice')) {
                removeReaction($(this).data('id'), $(this).data('choice'));
                reactionBtn.data('choice', 'none');
                reactionBtn.removeClass(reactionBtn.data('color'));
                reactionBtn.data('color', 'none');
                reactionBtn.html('React');
                $.toast({
                    title: 'Removed',
                    message: 'Successfully removed your reaction!',
                    class : 'grey',
                });
            } else {
                if (reactionBtn.data('choice') == 'none') {
                    addReaction($(this).data('id'), $(this).data('choice'));
                    reactionBtn.data('choice', $(this).data('choice'));
                    reactionBtn.addClass($(this).data('color'));
                    reactionBtn.data('color', $(this).data('color'));   
                    reactionBtn.html($(this).html());
                } else {
                    updateReaction($(this).data('id'), $(reactionBtn).data('choice'), $(this).data('choice'));
                    reactionBtn.data('choice', $(this).data('choice'));
                    reactionBtn.removeClass(reactionBtn.data('color'));
                    reactionBtn.addClass($(this).data('color'));
                    reactionBtn.data('color', $(this).data('color'));
                    reactionBtn.html($(this).html());
                }
                // TODO update react list
                // socket.emit('updateReactions', $(this).data('id'));
                $.toast({
                    title: $(this).data('choice'),
                    message: 'Successfully reacted!',
                    class : $(this).data('color'),
                    className: {
                        toast: 'ui message'
                    }
                });
            }
            reactionBtn.transition('jiggle', { queue: false });
        });
        $('.post .card .image .overdiv .buttons .left.button').click(function() {
            if ($('#' + $(this).data('id') + '-images').data('image') > 1) newImage($(this).data('id'), $('#' + $(this).data("id") + '-images').data('image')-1);
        });
        $('.post .card .image .overdiv .buttons .right.button').click(function() {
            var size = 2;
            if ($('#' + $(this).data('id') + '-images').data('image') < size) newImage($(this).data('id'), $('#' + $(this).data("id") + '-images').data('image')+1);
        });

        function newImage(id, imgNum) {
            $('#' + id + '-image-' + $('#' + id + '-images').data('image')).addClass('hidden');
            $('#' + id + '-image-' + imgNum).removeClass('hidden');
            $('#' + id + '-images').data('image', imgNum);
        }

        function addReaction(id, reaction) {
            socket.emit("addReaction", id, reaction);
        }

        function removeReaction(id, reaction) {
            socket.emit("removeReaction", id, reaction);
        }

        function updateReaction(id, oldReact, newReact) {
            socket.emit("updateReaction", id, oldReact, newReact)
        }

        socket.on('updateReactionsResult', (id, res) => {
            $('#'+ id + '-reaction-span').html(res);
            $('#modal-reactions').html(res);
        });

        reactions = {
            'like': ['blue', '<i class="thumbs up outline icon"></i>'],
            'love': ['pink', '<i class="heart outline icon"></i>'],
            'laugh': ['orange', '<i class="laugh squint outline icon"></i>'],
            'sad': ['teal', '<i class="sad tear outline icon"></i>'],
            'angry': ['red', '<i class="angry outline icon"></i>']
        };

        socket.on('getDocumentResult', (id, doc) => {
            $('#modal-image').attr('src', doc['imageUrls'][0]);
            $('#modal-name').html(doc['poster']);
            $('#modal-time').html(getDate(doc['datePosted']));
            $('#modal-desc').html(doc['desc']);
            var output = "" 
            if (doc['reactions']['like'] > 0) output += doc['reactions']['like'] + " Likes, "
            if (doc['reactions']['love'] > 0) output += doc['reactions']['love'] + " Loves, "
            if (doc['reactions']['laugh'] > 0) output += doc['reactions']['laugh'] + " Laughs, "
            if (doc['reactions']['sad'] > 0) output += doc['reactions']['sad'] + " Sads, "
            if (doc['reactions']['angry'] > 0) output += doc['reactions']['angry'] + " Angries, "
            output = output.slice(0, -2)
            $('#modal-reactions').html(output);

            var reactionBtn = $('#modal-reaction');
            if ($('#' + id + '-reaction').data('choice') != 'none') {
                var re = reactions[$('#' + id + '-reaction').data('choice').toLowerCase()];
                if (reactionBtn.data('color') != 'undefined') {
                    reactionBtn.removeClass(reactionBtn.data('color'));
                }
                reactionBtn.data('choice', $('#' + id + '-reaction').data('choice'));
                reactionBtn.addClass(re[0]);
                reactionBtn.data('color', re[0]);   
                reactionBtn.html(re[1]);
            } else {
                reactionBtn.data('choice', 'none');
                reactionBtn.removeClass(reactionBtn.data('color'));
                reactionBtn.data('color', 'none');
                reactionBtn.html('React');
            }
        });
        // modal-image
        // modal-name
        // modal-time
        // modal-desc
        // modal-reaction
        // modal-like
        // modal-love
        // modal-laugh
        // modal-sad
        // modal-angry

        function getDate(unix) {
            const unixTimestamp = unix

            const milliseconds = 1575909015 * 1000 // 1575909015000

            const dateObject = new Date(milliseconds)

            return dateObject.toLocaleString();
        }
    </script>
</body>
</html>