<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>String Haven</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"/>
    <link rel="stylesheet" href="stylesheets/style.css"/>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/fomantic-ui@2.9.0/dist/semantic.min.css">
</head>
<body>

    <!-- Navbar -->
    <div class="ui secondary pointing menu">
        <a class="active item">
          Home
        </a>
        <a class="item">
          Messages
        </a>
        <a class="item">
          Friends
        </a>
        <div class="right menu">
          <a class="ui item">
            Logout
          </a>
        </div>
    </div>  
    <div class="ui container" style="height:2000px;">

        <h2 class="ui center aligned icon header">
            <i class="circular guitar icon"></i>
            Your Feed
        </h2>

        <div class="ui basic segment" id="feed">

            <div class="ui basic segments" id="posts">

                <div class="ui close big left rail">
                  <div class="ui basic segments sticky profile bold">
                    <div class="ui segment">
                    Wayne Gabule
                    </div>
                    <div class="ui segment">
                    My Feed
                    </div>
                    <div class="ui segment">
                    Notifications
                    </div>
                    <div class="ui segment">
                    Messages
                    </div>
                    <div class="ui segment">
                    Settings
                    </div>
                  </div>
                </div>

                <% posts.forEach(doc => { %>
                    <% var id = doc.get('id') %> 
        
                    <div class="ui basic padded segment post">
                        <div class="ui raised fluid card">
                            <div class="content bold">
                              <div class="right floated meta">14h</div>
                              <%- doc.get('poster') %> 
                            </div>
                            <div class="image">
                                <% if (doc.get('imageUrls').length == 1) { %>
                                    <img class="clickable modal" src=<%= doc.get('imageUrls')[0] %> >
                                <% } else { %>
                                    <div class="image-num">1/<%= doc.get('imageUrls').length %>  </div>
                                    <div class="overdiv">
                                        <div class="buttons">
                                            <button class="ui left floated icon circular button" data-id=<%= id %>><i class="chevron left icon"></i></button>
                                            <button class="ui right floated icon circular button" data-id=<%= id %>><i class="chevron right icon"></i></button>
                                        </div>
                                    </div>
                                    <div class="images clickable modal" id="<%= id %>-images" data-image="1">
                                        <img class="ui image" id="<%= id %>-image-1" src=<%= doc.get('imageUrls')[0] %> >
                                        <% for (let i = 1; i < doc.get('imageUrls').length; i++ ) { %>
                                            <img class="ui image hidden" id="<%= id %>-image-<%= i+1 %>" src=<%= doc.get('imageUrls')[i] %> >
                                        <% } %>
                                    </div>
                                <% } %> 
                            </div>
                            <div class="extra content clickable modal">
                                <div class="description">
                                  <p><%- doc.get('desc') %></p>
                                </div>
                            </div>
                            <div class="extra content">
                                <span class="left floated">
                                    <div class="ui reaction icon button" data-choice="none" id="<%= id %>-reaction" data-color="none">React</div>
                                    <div class="ui flowing popup top left transition hidden">
                                        <div class="ui compact blue react icon button circular huge" data-choice="Like" data-id=<%= id %> data-color="blue"><i class="thumbs up outline icon"></i></div>
                                        <div class="ui compact pink react icon button circular huge" data-choice="Love" data-id=<%= id %> data-color="pink"><i class="heart outline icon"></i></div>
                                        <div class="ui compact orange react icon button circular huge" data-choice="Laugh" data-id=<%= id %> data-color="orange"><i class="laugh squint outline icon"></i></em></div>
                                        <div class="ui compact teal react icon button circular huge" data-choice="Sad" data-id=<%= id %> data-color="teal"><i class="sad tear outline icon"></i></em></div>
                                        <div class="ui compact red react icon button circular huge" data-choice="Angry" data-id=<%= id %> data-color="red"><i class="angry outline icon"></i></em></div>
                                    </div>
                                    <% if (doc.get('reactions').like + doc.get('reactions').love + doc.get('reactions').laugh + doc.get('reactions').sad + doc.get('reactions').angry >= 10) { %>
                                        <%= doc.get('reactions').like + doc.get('reactions').love + doc.get('reactions').laugh + doc.get('reactions').sad + doc.get('reactions').angry %> Reactions
                                    <% } else { %>
                                        <% var output = "" %> 
                                        <% if (doc.get('reactions').like > 0) output += doc.get('reactions').like + " Likes, " %>
                                        <% if (doc.get('reactions').love > 0) output += doc.get('reactions').love + " Loves, " %>
                                        <% if (doc.get('reactions').laugh > 0) output += doc.get('reactions').laugh + " Laughs, " %>
                                        <% if (doc.get('reactions').sad > 0) output += doc.get('reactions').sad + " Sads, " %>
                                        <% if (doc.get('reactions').angry > 0) output += doc.get('reactions').angry + " Angries, " %>
                                        <% output = output.slice(0, -2) %> 
                                        <%= output %> 
                                    <% } %>
                                     
                                </span>
                                <!-- <span class="right floated">
                                    <i class="comment icon"></i>
                                    0 comments
                                </span> -->
                            </div>
                        </div>
                    </div>
    
                <% }) %>
    
            </div>

        </div>

        <div class="ui modal">
            <i class="close icon"></i>
            <div class="ui grid basic segment">
                    <div class="ui eight wide column">
                        <div class="image content">
                            <img src="images/Martin LX1RE Electro Acoustic Guitar.jpg" alt="">
                        </div>
                    </div>
                    <div class="ui eight wide column">
                        <div class="ui basic segments">
                            <div class="ui segment">
                                <h3 class="ui header">
                                    <div class="content">
                                        Name
                                        <div class="sub header">
                                            Hours Ago
                                        </div>
                                    </div>
                                </h3>
                                <p>Description</p>
                            </div>
                            <div class="ui segment reacts">
                                <span class="left floated">
                                    <div class="ui reaction icon button" data-choice="none" id="31-modal-reaction" data-color="none">React</div>
                                    <div class="ui flowing popup top left transition hidden">
                                        <div class="ui compact blue react icon button circular huge" data-choice="Like" data-id=31 data-color="blue"><i class="thumbs up outline icon"></i></div>
                                        <div class="ui compact pink react icon button circular huge" data-choice="Love" data-id=31 data-color="pink"><i class="heart outline icon"></i></div>
                                        <div class="ui compact orange react icon button circular huge" data-choice="Laugh" data-id=31 data-color="orange"><i class="laugh squint outline icon"></i></em></div>
                                        <div class="ui compact teal react icon button circular huge" data-choice="Sad" data-id=31 data-color="teal"><i class="sad tear outline icon"></i></em></div>
                                        <div class="ui compact red react icon button circular huge" data-choice="Angry" data-id=31 data-color="red"><i class="angry outline icon"></i></em></div>
                                    </div>
                                    <% if (1 >= 10) { %>
                                        1 Reactions
                                    <% } else { %>
                                        <% var output = "" %> 
                                        <% if (2 > 0) output += 2 + " Likes, " %>
                                        <% if (3 > 0) output += 3 + " Loves, " %>
                                        <% if (4 > 0) output += 4 + " Laughs, " %>
                                        <% if (5 > 0) output += 5 + " Sads, " %>
                                        <% if (6 > 0) output += 6 + " Angries, " %>
                                        <% output = output.slice(0, -2) %> 
                                        <%= output %> 
                                    <% } %>
                                </span>
                            </div>
                        </div>
                    </div>
            </div>
          </div>

    </div>
    
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.1/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/fomantic-ui@2.9.0/dist/semantic.min.js"></script>
    <script>
        $('.sidebar-button').click(() => $('.ui.labeled.icon.sidebar').sidebar('toggle'));
        $('.ui.sticky.profile').sticky({ context: '#feed'});
        $('.reaction.button').popup({ hoverable: true });
        $('.post .card .clickable.modal').click(() => {

            $('.ui.modal').modal('show');
        });
        $('.react.button').click(function() {
            const reactionBtn = $('#' + $(this).data('id') + "-reaction");
            if (reactionBtn.data('choice') == $(this).data('choice')) {
                // TODO remove reaction
                reactionBtn.data('choice', 'none');
                reactionBtn.removeClass(reactionBtn.data('color'));
                reactionBtn.data('color', 'none');
                reactionBtn.html('React');
                $.toast({
                    title: 'Removed',
                    message: 'Successfully removed your reaction!',
                    class : 'grey',
                });
            } else {
                if (reactionBtn.data('choice') == 'none') {
                    // TODO add reaction
                    addReaction($(this).data('id'), $(this).data('choice'));
                    reactionBtn.data('choice', $(this).data('choice'));
                    reactionBtn.addClass($(this).data('color'));
                    reactionBtn.data('color', $(this).data('color'));
                    reactionBtn.html($(this).html());
                } else {
                    // TODO update reaction
                    reactionBtn.data('choice', $(this).data('choice'));
                    reactionBtn.removeClass(reactionBtn.data('color'));
                    reactionBtn.addClass($(this).data('color'));
                    reactionBtn.data('color', $(this).data('color'));
                    reactionBtn.html($(this).html());
                }
                // TODO update react list
                $.toast({
                    title: $(this).data('choice'),
                    message: 'Successfully reacted!',
                    class : $(this).data('color'),
                    className: {
                        toast: 'ui message'
                    }
                });
            }
            reactionBtn.transition('jiggle', { queue: false });
        });
        $('.post .card .image .overdiv .buttons .left.button').click(function() {
            if ($('#' + $(this).data('id') + '-images').data('image') > 1) newImage($(this).data('id'), $('#' + $(this).data("id") + '-images').data('image')-1);
        });
        $('.post .card .image .overdiv .buttons .right.button').click(function() {
            var size = 2;
            if ($('#' + $(this).data('id') + '-images').data('image') < size) newImage($(this).data('id'), $('#' + $(this).data("id") + '-images').data('image')+1);
        });

        function newImage(id, imgNum) {
            $('#' + id + '-image-' + $('#' + id + '-images').data('image')).addClass('hidden');
            $('#' + id + '-image-' + imgNum).removeClass('hidden');
            $('#' + id + '-images').data('image', imgNum);
        }
    </script>
</body>
</html>